.container {
  font-family: Helvetica;
}

.film-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding-top: 70px;
}

.film-list {
  @media (max-width: 767px) {
    padding-top: 120px;
  }
}
