/* Container for the film list */
.film-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* create a responsive grid with a minimum item width of 200px */
  gap: 20px; /* add a 20px gap between each item */
}

/* Individual film items */
.film-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.film-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Film title */
.film-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

/* Film information */
.film-info {
  font-size: 14px;
  margin: 5px 10px 10px 10px;
}

.film-info span {
  font-weight: bold;
}

.film-info span:not(:first-child) {
  margin-left: 5px;
}

header {
  background-color: #222;
  color: #fff;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 28px;
  margin: 0;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 16px;
  margin-right: 10px;
}

.search-form button[type="submit"] {
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #222;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.header-info {
  margin-top: 20px;
}

.header-info p {
  font-size: 16px;
  margin: 0;
}
